body {
    background-color:grey;
}

.flex-fill {
    flex:1 1 auto;
}

.pageCard {
    min-height: 100vh;
    background-color: white;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    background-color: rgb(37, 50, 88);
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    border: 2px solid;
    border-color:rgb(37, 50, 88);
    border-radius: 5px;
    padding: 0.5rem;
}

header h1 {
    color:white;
    display: inline;
}

.heroimg {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    color: white;
    text-decoration: none;
}

a.github {
    color: white;
    text-decoration: none;
    display: inline;
}

a.gitlink {
    color:rgb(37, 50, 88);
    text-decoration: none;
}

ul {
    padding: 0rem;
}

li {
    padding-bottom: 0.2rem;
    list-style: none;
    justify-content: left;
}

.maincontent {
    background-color: rgb(180, 180, 180);
}

article {
    background-color:rgb(210, 210, 210);
    border: hidden;
    border-color: black;
    border-radius: 5px;
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article.work {
    background-color: rgb(66, 74, 99);
}

article p {
    justify-content: center;
}

.centerPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.leftPic {
    display: inline;
    padding: 0.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navBarStyle {
    padding: 0.2rem;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ui-accordion-header {
    display:none!important;
}

.accordHead {
    color: rgb(37, 50, 88);
}

h5 {
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline;
}

h4 {
    color:rgb(37, 50, 88);
    text-decoration: none;
    display: inline;
}

h6 {
    color:rgb(37, 50, 88);
    text-decoration: none;
    display: inline;
}

.work {
    color: rgb(66, 74, 99);;
}

.list-group {
    padding: 0;
    list-style: none;
}

.list-item {
    border: hidden;
    border-color: black;
    border-radius: 5px;
    padding: 1rem 1rem;
    margin-bottom: 10px;
    background-color: rgb(66, 74, 99);
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    background-color:rgb(37, 50, 88);
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
    border: solid;
    border-color:rgb(37, 50, 88);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    position: bottom;
}

footer h5 {
    color:white;
}

.toggler { width: 250px; height: 40px; position: relative; }
    #button1 , #button2 , #button3 , #button4 , #button5 { 
        padding: 1rem; 
        text-decoration: none; 
    }
    #effect1 , #effect2 , #effect3 , #effect4 , #effect5 { 
        width: 225px; 
        height: 40px;  
        padding: 0.4em; 
        position: relative;
        left: 12px;
        transition: width .5s ease-in-out;
        border-radius: 0px 5px 0px 0px;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
        background: rgb(37, 50, 88);
        text-align: left;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

    #effect1.wide, #effect2.wide, #effect3.wide, #effect4.wide, #effect5.wide{
        width: 330px;
    }

    #effect h3 { 
        margin: 0; 
        padding: 0.4em; 
    }
    